# Ignora tutto per impostazione predefinita
*

# Includi solo file Dart
!**/*.dart

# Includi anche il file pubspec per mantenere le dipendenze
!pubspec.yaml
!pubspec.lock

# Includi la cartella lib/ (se contiene file .dart e potenzialmente altre risorse specifiche)
!lib/

# Ignora i file di build e le directory di output
build/
.dart_tool/
.packages

# Android e iOS build e configurazioni locali
android/
ios/
macos/
web/
windows/
linux/

# Altri file e cartelle da ignorare
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-version
